process {
  withLabel: 'bustool' {
    container = 'eilalan/atomic_update:latest'
    executor = 'google-batch'
    cpus = 8
    maxRetries=1
  }

  withLabel: 'chromap_idx' {
    container = 'eilalan/chromap_env:latest'
    executor = 'google-batch'
    cpus = 32
    maxRetries =1 
    disk='300 GB'
  }

  withLabel: 'chromap' {
    container = 'eilalan/chromap_env:latest'
    executor = 'google-batch'
    cpus = 8
    maxRetries =1 
    disk='50 GB'
  }

  withLabel: 'download' {
    container = 'eilalan/atomic_update:latest'
    executor = 'local'
    cpus = 2
    maxRetries=1 
  }

  docker {
    enabled = true
  }
}