process {
  withLabel: 'bustool' {
    container = 'eilalan/atomic_update:latest'
    executor = 'local'
    cpus = 8
    maxRetries=1
  }

  withLabel: 'download' {
    conda = 'eilalan/atomic_update:latest'
    executor = 'local'
    cpus = 4
    maxRetries =1 
  }
  docker {
    enabled = true
    }
}