workDir = 'gs://eila-nextflow-bucket/rnaseq-pipeline-bckt/scratch'

process {
  executor = 'google-batch'
  container = 'nextflow/rnaseq-nf'
  errorStrategy = { task.exitStatus==14 ? 'retry' : 'terminate' }
  maxRetries = 5
}

google {
  project = 'hai-gcp-genomic'
  location = 'us-central1'
  batch.spot = true
}