manifest {
  description = 'A nexflow pipeline for cellatlas and seqspec for single cell' 
  mainScript = 'nf_wf_cellatlas_rna.nf'
}
github {
    url = 'https://github.com/ort-eila/git_igvf/tree/main/cellatlas-scrna-seq-pipeline/nextflow/nf_workflow/workflow_cellatlas_rna'
    branch = 'main' 
}

process {
  executor = 'local'
  container = 'eilalan/igvf-seqspec-cellatlas:latest'
}
