workDir = 'gs://eila-nextflow-bucket/rnaseq-pipeline-bckt/scratch'

process {
  executor = 'google-batch'
  container = 'eilalan/igvf-seqspec-cellatlas:latest'
  errorStrategy = { task.exitStatus==14 ? 'retry' : 'terminate' }
  maxRetries = 1
}

google {
  project = 'hai-gcp-genomic'
  location = 'us-central1'
  batch.spot = true
}