docker {
    enabled = true
}

params.SPEC_YAML = '/Users/eilaarich-landkof-stanford/Documents/Code/git_igvf/cellatlas-scrna-seq-pipeline/nextflow/nf_data/nf_data_cellatlas_run/spec.yaml' 
params.R1_FASTQ_GZ = '/Users/eilaarich-landkof-stanford/Documents/Code/git_igvf/cellatlas-scrna-seq-pipeline/nextflow/nf_data/nf_data_cellatlas_run/rna_R1_SRR18677629.fastq.gz'
params.R2_FASTQ_GZ = '/Users/eilaarich-landkof-stanford/Documents/Code/git_igvf/cellatlas-scrna-seq-pipeline/nextflow/nf_data/nf_data_cellatlas_run/rna_R2_SRR18677629.fastq.gz'
params.MODALITY = 'rna'
params.SEQSPEC_PATH = '/Users/eilaarich-landkof-stanford/Documents/Code/git_igvf/cellatlas-scrna-seq-pipeline/nextflow/nf_workflow/workflow_cellatlas_rna/spec.yaml'
params.GENOME_FASTA = 'https://hgdownload.soe.ucsc.edu/goldenPath/hg38/bigZips/hg38.fa.gz'
params.FEATURE_BARCODES = '/Users/eilaarich-landkof-stanford/Documents/Code/git_igvf/cellatlas-scrna-seq-pipeline/nextflow/nf_data/nf_data_cellatlas_run/protein_feature_barcodes.txt'
params.GENOME_GZ_GTF = 'http://ftp.ensembl.org/pub/release-106/gtf/homo_sapiens/Homo_sapiens.GRCh38.106.gtf.gz'
params.BARCODE_WHITELIST = '737K-august-2016.txt'
params.SUBPOOL = "none"
params.GENOME_NAME = "GRCh38" 
params.PREFIX = "test-sample"
params.CUSTOM_REFERENCE = false
params.CUSTOM_GTF_PATH = ""
