process {
  withLabel: 'bustool' {
    container = 'eilalan/atomic_update:latest'
    executor = 'local'
    cpus = 8
    scratch = true
    time = '20 min'
    errorStrategy = 'terminate'
  }

  withLabel: 'download' {
    container = 'eilalan/atomic_update:latest'
    executor = 'local'
    cpus = 2
    scratch = true
    time = '10 min'
    errorStrategy = 'terminate'
  }
  
  withLabel: 'download_kb_idx' {
    container = 'eilalan/atomic_update:latest'
    executor = 'local'
    disk = '512 GB'
    cpus = 2
    scratch = true
    time = '20 min'
    errorStrategy = 'terminate'
  }
  
  withLabel: 'seqspec_local' {
    container = 'eilalan/seqspec_env:latest'
    executor = 'google-batch'
    cpus = 1
    scratch = true
    time = '2 min'
    errorStrategy = 'terminate'
  }

  
  docker {
    enabled = true
    privileged = true
    envWhitelist=['ENV_SYNAPSE_TOKEN']
  }
}

